@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.calculator-container {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 50px auto;
}

.calculator-form {
  flex: 1;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #303f9f;
}

button.bg-blue-500.text-white {
  background-color: #3f51b5;
}

button.bg-blue-500.text-white:hover {
  background-color: #303f9f;
}

.payment-display {
  flex: 1;
  text-align: center;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-display h3 {
  margin: 0 0 20px;
}

.payment-display p,
.payment-display div p {
  margin: 10px 0;
  font-size: 18px;
}

.payment-display .breakdown-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.payment-display .breakdown-item.total {
  font-weight: bold;
}

.payment-display .monthly-payment {
  font-size: 2rem;
  color: #1e3a8a;
}

.payment-display .disclaimer {
  font-size: 10px;
  color: #6b7280;
  margin-top: 20px;
}
